.stripe-side
  .main
    %h2 Recent comments
    %h3 &nbsp;
    .block#recentcomments
      %h4 Most recent comments
      .blockbody
        %ul
          %li
            %a#c1(name="c1")>
            %strong Matthew Landauer:
            Hello Mr Abbott. How are you?
            %small (4 days, 12 hours ago)
            %br
            %a(href="/debate/?id=2009-05-14.2.1#c2") Read comment
            \|
            %a(href="/user/?u=1" title="See more information about this user") All by this user
    / end .block
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
