.block
  %h4
    %a{ :href => "/news/archives/" } News Archives
  .blockbody
    %p
      - @months.each do |d|
        %a{ :href => "/news/archives/#{d.year}/#{'%02d' % d.month}" }= d.to_s(:month)
        %br
/ end .block
