.block
  %h4
    = link_to "News Archives", posts_archives_path
  .blockbody
    %p
      - @months.each do |d|
        = link_to d.to_s(:month), posts_in_month_path(:year => d.year, :month => ('%02d' % d.month))
        %br
/ end .block
