.stripe-side
  .main
    %h2 OpenAustralia news
    %h3 May 2009
    %h3 6 May 2009
    %h4 Opening up the procedures of Parliament
    <p>So far we've shown you what they say (speeches) not what they do (procedures). Believe it or not proceedings of Parliament take place within a highly structured system. The speeches don't always give the full picture of what's going on. So, to help provide some more context, we've now added "procedural text".</p>
    <p>Procedural text is a standardised description of what's going on. Examples include: someone putting forward a motion, reading a bill, a debate ending, or someone leaving the chamber.</p>
    <p>We hadn't included it in the past because we simply hadn't supported the translation of the information from the official source.</p>
    <p>Also, we have a further incentive. It's also preparation for some very exciting new developments which we hope to announce soon!</p>
    %p
      Posted at 18:15:00 by Kat
      \|
      %a{ :href => "/news/archives/2009/05/06/opening_up_the_p" } Link to this
      %h3 12 May 2009
      %h4 Our new home on Facebook
    <p>If you're a user of Facebook, come and visit <a href="http://www.facebook.com/pages/OpenAustralia/59877428354">our new home on Facebook</a> and invite your friends along. Do your bit by letting even more people know about OpenAustralia.org.</p>
    <p>Also, you can talk amongst your fellow OpenAustralia fans, leave comments, post links and all the usual stuff.</p>
    %p
      Posted at 16:30:00 by Matthew
      \|
      %a{ :href => "/news/archives/2009/05/12/our_new_home_on_" } Link to this
  / end .main
  .sidebar
    = render :partial => "archives"
    = render :partial => "rss"
  / end .sidebar
  .break
