.stripe-side
  .main
    %h2
      OpenAustralia news
    %h3
      Our new home on Facebook
    %p
      If you're a user of Facebook, come and visit
      %a{ :href => "http://www.facebook.com/pages/OpenAustralia/59877428354" }
        our new home on Facebook
      and invite your friends along. Do your bit by letting even more people know about OpenAustralia.org.
    %p
      Also, you can talk amongst your fellow OpenAustralia fans, leave comments, post links and all the usual stuff.
    %p
      Posted on 12 May 2009 at 16:30:00 by Matthew
      \|
      %a{ :href => "/news/archives/2009/05/12/our_new_home_on_" }
        Link to this
  / end .main
  .sidebar
    = render :partial => "archives"
    = render :partial => "rss"
  / end .sidebar
  .break
