.stripe-side
  .main
    %h2
      OpenAustralia news
    %h3
      Our new home on Facebook
    %p
      If you're a user of Facebook, come and visit
      %a{ :href => "http://www.facebook.com/pages/OpenAustralia/59877428354" }
        our new home on Facebook
      and invite your friends along. Do your bit by letting even more people know about OpenAustralia.org.
    %p
      Also, you can talk amongst your fellow OpenAustralia fans, leave comments, post links and all the usual stuff.
    %p
      Posted on 12 May 2009 at 16:30:00 by Matthew
      \|
      %a{ :href => "/news/archives/2009/05/12/our_new_home_on_" }
        Link to this
  / end .main
  .sidebar
    .block
      %h4
        %a{ :href => "/news/archives/" }
          News Archives
      .blockbody
        %p
          %a{ :href => "/news/archives/2009/05" }
            May 2009
          %br
          %a{ :href => "/news/archives/2009/02" }
            February 2009
          %br
          %a{ :href => "/news/archives/2009/01" }
            January 2009
          %br
          %a{ :href => "/news/archives/2008/11" }
            November 2008
          %br
          %a{ :href => "/news/archives/2008/10" }
            October 2008
          %br
          %a{ :href => "/news/archives/2008/08" }
            August 2008
          %br
          %a{ :href => "/news/archives/2008/07" }
            July 2008
          %br
          %a{ :href => "/news/archives/2008/06" }
            June 2008
          %br
    / end .block
    .block
      %h4 RSS/XML
      .blockbody
        %p
          %a{ :href => "/news/index.rdf" } RSS feed of recent posts
          (
          %a{ :href => "/help/#rss" }> ?
          )
    / end .block
  / end .sidebar
  .break
