.stripe-side
  .main
    %h2 About us
    %h3 &nbsp;
    %p
      For all its faults and foibles, our democracy is a profound gift from previous generations. Yet
      most people don't know the name of their representative, let alone what they do or say in their name.
    %p
      We aim to help bridge this growing democratic disconnect, in the belief that there is little wrong
      with Parliament that a healthy mixture of transparency and public engagement won't fix.
    %p
      Hence this website.
    %h3 Who runs this site?
    %p
      OpenAustralia is a website run by a group of volunteers. We owe a great debt to a UK charity,
      mySociety, which built
      = link_to "theyworkforyou.com", "http://theyworkforyou.com/"
      which this site is based on.
    %p
      The Australian Hansard is <a href="http://www.ag.gov.au/cca">Copyright Commonwealth of Australia</a>,
      and is used with permission. Images of politicians are <a href="http://www.ag.gov.au/cca">Copyright
      Commonwealth of Australia</a> and administered by <a href="mailto:auspic@aph.gov.au">AUSPIC</a>.
    %p
      If you're technically minded, we make all the
      = link_to "OpenAustralia source code", "http://software.openaustralia.org/"
      freely available. Do let us know if you want to help!
    %h3
      %a{ :name => "history" }>
      History
    %p
      Back in 2004 Matthew Landauer and Katherine Szuminska were lucky enough to accidently find themselves
      at the launch of the UK site
      = link_to "TheyWorkForYou.com", "http://theyworkforyou.com"
      at a nerdy techno conference, NotCon 2004. The talk inspired them hugely and they left with a desire
      to make this happen in Australia too. It took a few years, other people came on board to help and here
      you can see the fruits of their labour.
    %p
      The project was kick-started in November 2007 when Matthew, supported by
      <a href="http://www.rsp.com.au">Rising Sun Pictures</a>, was given the oppurtunity to take a week of
      paid charity leave to develop the first, very rough, prototype of OpenAustralia.
    %p
      The project continues to be supported by Andrew Snow from
      = link_to "Octopus Computing", "http://octopus.com.au"
      who kindly provide VPS hosting to us for free.
    %h4 Volunteers on OpenAustralia.org
    %ul
      %li Tim Ansell
      %li Nathanael Boehm
      %li Lachie Cox
      %li Henare Degan
      %li Ray Haleblian
      %li Daniel Kinsman
      %li Matthew Landauer
      %li Rob Manson
      %li Bruno Mattarollo
      %li Wade Millican
      %li Matthew Panetta
      %li Sarah Stokely
      %li Katherine Szuminska
    %p
      %em
        They did all this in their spare time, because they thought it was worth doing. And if it's worth
        doing, you might as well try to do it well.
    %h4 Volunteers on TheyWorkForYou.com
    %ul
      %li Richard Allan
      %li Martin Belam
      %li James Crabtree
      %li James Cronin
      %li Stephen Dunn
      %li Yoz Grahame
      %li Phil Gyford
      %li David Heath
      %li Francis Irving
      %li Ben Laurie
      %li Tom Loosemore
      %li Stefan Magdalinski
      %li Dorian McFarland
      %li Anno Mitchell
      %li Danny O'Brien
      %li Sam Smith
      %li Matthew Somerville
      %li Tom Steinberg
      %li Stuart Tily
      %li Julian Todd
      %li Denise Wilton
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
