.stripe-side
  .main
    %h2 Contact the OpenAustralia team
    %p
      %p
        Please tell us what you think about
        %strong OpenAustralia.org
      %ul
        %li Did it work?
        %li Do you like it?
        %li How can we improve it?
      %p
        We seek responses to all these questions.
      %p
        The email address of OpenAustralia.org, which is run by a group of <strong>volunteers</strong>, is:
        = mail_to "contact@openaustralia.org"
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
