.stripe-side
  .main
    %h2 House rules
    %h3 &nbsp;
    %dl
      %dt Contributions must be civil and tasteful
      %dd
        %p
          Please be nice to each other. Please respect Representatives and Senators. If you think they have an easy job,
          you're very, very wrong.

      %dt Please be patient
      %dd
        %p
          Users of all ages and abilities may be contributing to OpenAustralia. Also, remember this site is run by volunteers,
          so please bear with us if we&rsquo;re slow to get back to you.

      %dt No disruptive, offensive or abusive behaviour
      %dd
        %p
          Contributions should be constructive and polite, not mean-spirited or contributed with the intention of causing trouble.

      %dt No unlawful or objectionable content
      %dd
        %p
          Unlawful, harassing, defamatory, abusive, threatening, harmful, obscene, profane, sexually oriented, racially offensive
          or otherwise objectionable material is not acceptable.

      %dt No spamming or off-topic material
      %dd
        %p
          We don't allow the submission of the same or very similar contributions many times. Please don't re-submit your comment
          to more than one discussion.

      %dt No advertising
      %dd
        %p
          At all. Ever. Even subtle stuff.

      %dt Please use your own name if you can
      %dd
        %p
          We'd prefer you to use your real name, but understand that for some people this won't be an option &ndash; the name you
          choose will be displayed on the site.

      %dt Don't impersonate others
      %dd
        %p
          They tend to get cross. As do we.

      %dt Please don't link to websites you wouldn't want your granny to visit
      %dd
        %p
          No porn, no snuff, no filez etc.

      %dt Deliberate misuse of the "report this comment" complaints system is not permitted
      %dd
        %p
          If you persist in doing this action may be taken against your account. It's bad form.

      %dt Break these House Rules once, and we'll let you off with a warning.
      %dd
        %p
          After that, we reserve the right to get medieval.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
