.calendar
  %table{ :border => "0" }
    %caption #{@date.strftime('%B %Y')}
    %thead
      %tr
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
        %th Sun
    %tbody
      %tr
        %td{ :colspan => "4" } &nbsp;
        %td.no{ :title => "recess" } 1
        %td.no{ :title => "recess" } 2
        %td.no{ :title => "recess" } 3
      %tr
        %td.no{ :title => "recess" } 4
        %td.no{ :title => "recess" } 5
        %td.no{ :title => "recess" } 6
        %td.no{ :title => "recess" } 7
        %td.no{ :title => "recess" } 8
        %td.no{ :title => "recess" } 9
        %td.no{ :title => "recess" } 10
      %tr
        %td.no{ :title => "recess" } 11
        %td 12
        %td 13
        %td.on 14
        %td.no{ :title => "recess" } 15
        %td.no{ :title => "recess" } 16
        %td.no{ :title => "recess" } 17
      %tr
        %td.no{ :title => "recess" } 18
        %td.no{ :title => "recess" } 19
        %td.no{ :title => "recess" } 20
        %td.no{ :title => "recess" } 21
        %td.no{ :title => "recess" } 22
        %td.no{ :title => "recess" } 23
        %td.no{ :title => "recess" } 24
      %tr
        %td 25
        %td 26
        %td 27
        %td 28
        %td 29
        %td 30
        %td 31
/ end calendar
