%p.nextprev
  %span.up
    %a{ :href => "/debates/?d=2009-05-14", :title => "" } All House debates on 14 May 2009
  %span.prev
    %a{ :href => "/debates/?id=2009-05-14.65.1", :title => "Family Assistance and Other Legislation Amendment (2008 Budget and Other Measures) Bill 2009" } &laquo; Previous debate
