%p.nextprev
  %span.up= link_to "All Senate debates on 13 May 2009", debate_path(:d => "2009-05-13", :house => 2), :title => ""
  %span.prev= link_to "\&laquo; Previous debate", debate_path(:id => "2009-05-13.1.1", :house => 2), :title => "Section 3"
