%dl.big-debates
  %dt
    %a#d1(name="d1")
    %strong>= link_to "Section 3", debate_path(:id => "2009-05-13.1.2", :house => 2)
  %dd
    %strong= link_to "Subsection 3", debate_path(:id => "2009-05-13.1.2", :house => 2)
    %small (1 speech)
    %br
    Wednesday, 13 May 2009
