#help.block
  %h4 What are Debates?
  .blockbody
    %p
      <strong>Debates</strong> in the House of Representatives are an opportunity for members from
      all parties to <strong>scrutinise</strong> government legislation and
      <strong>raise important local, national or topical issues</strong>.
    %p And sometimes to shout at each other.
    %p
      ~ '<!--For more about debates, click <a href="/help/#debates">here</a>.-->'
/ end .block
