.stripe-side
  .main
    %h2 House debates
    %h3 Thursday, 14 May 2009
    %ul#hansard-day
      %li
        %a{ :href => "/debates/?id=2009-05-14.1.1" }
          %strong Section 1
        %small (0 speeches)
        %ul
          %li
            %a{ :href => "/debates/?id=2009-05-14.1.2" }
              %strong Subsection 1
            %small (2 speeches)
            %br
            %span.excerpt-debates Hello, my name is Tony Abbott.
    / end hansard-day
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?y=2009", :title => "" } All of 2009's debates
    .block
      %h4 Debates this month
      .blockbody
        .calendar
          %table{ :border => "0" }
            %caption May 2009
            %thead
              %tr
                %th Mon
                %th Tue
                %th Wed
                %th Thu
                %th Fri
                %th Sat
                %th Sun
            %tbody
              %tr
                %td{ :colspan => "4" } &nbsp;
                %td.no{ :title => "recess" } 1
                %td.no{ :title => "recess" } 2
                %td.no{ :title => "recess" } 3
              %tr
                %td.no{ :title => "recess" } 4
                %td.no{ :title => "recess" } 5
                %td.no{ :title => "recess" } 6
                %td.no{ :title => "recess" } 7
                %td.no{ :title => "recess" } 8
                %td.no{ :title => "recess" } 9
                %td.no{ :title => "recess" } 10
              %tr
                %td.no{ :title => "recess" } 11
                %td 12
                %td 13
                %td.on 14
                %td.no{ :title => "recess" } 15
                %td.no{ :title => "recess" } 16
                %td.no{ :title => "recess" } 17
              %tr
                %td.no{ :title => "recess" } 18
                %td.no{ :title => "recess" } 19
                %td.no{ :title => "recess" } 20
                %td.no{ :title => "recess" } 21
                %td.no{ :title => "recess" } 22
                %td.no{ :title => "recess" } 23
                %td.no{ :title => "recess" } 24
              %tr
                %td 25
                %td 26
                %td 27
                %td 28
                %td 29
                %td 30
                %td 31
        / end calendar
        %p
          %a{ :href => "/debates/?y=2009" } See all of 2009
    / end .block
    #help.block
      %h4 What are Debates?
      .blockbody
        %p
          <strong>Debates</strong> in the House of Representatives are an opportunity for members from
          all parties to <strong>scrutinise</strong> government legislation and
          <strong>raise important local, national or topical issues</strong>.
        %p And sometimes to shout at each other.
        %p
          ~ '<!--For more about debates, click <a href="/help/#debates">here</a>.-->'
    / end .block
  / end .sidebar
  .break
