.stripe-head-1
  .main
    %h2 House debates
    %h3 Thursday, 14 May 2009
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" }> What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    / ADDTHIS JAVASCRIPT BEGIN
    %script{ :type => "text/javascript" } var addthis_pub = "foo";
    %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js", :type => "text/javascript" }
    / ADDTHIS JAVASCRIPT END
    %h4 Section 1
    %h5 Subsection 1
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
/ end .stripe-*
= render :partial => "speech", :collection => @speeches
.stripe-foot
  .main
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
