.stripe-head-1
  .main
    %h2
      House of Representatives and Senate debates
    %h3
      \&nbsp;
  / end .main
  .sidebar
    \&nbsp;
  / end .sidebar
  .break
/ end .stripe-*
.stripe-side
  .main
    %h3
      Busiest House of Representatives debates from the most recent week
    %dl.big-debates
      %dt
        %a{ :name => "d1" }
        %strong>
          %a{ :href => "/debates/?id=2009-05-14.1.2" }> Section 1
      %dd
        %strong
          %a{ :href => "/debates/?id=2009-05-14.1.2" } Subsection 1
        %small (2 speeches)
        %br
        Thursday, 14 May 2009
    %p
      %strong
        %a{ :href => "/debates/#d7" } See more debates
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" }
          What are House debates?
    / end .block
    .block
      %h4
        Recent debates
      .blockbody
        .calendar
          %table{ :border => "0" }
            %caption
              May 2009
            %thead
              %tr
                %th
                  Mon
                %th
                  Tue
                %th
                  Wed
                %th
                  Thu
                %th
                  Fri
                %th
                  Sat
                %th
                  Sun
            %tbody
              %tr
                %td{ :colspan => "4" }
                  \&nbsp;
                %td.no{ :title => "recess" }
                  1
                %td.no{ :title => "recess" }
                  2
                %td.no{ :title => "recess" }
                  3
              %tr
                %td.no{ :title => "recess" }
                  4
                %td.no{ :title => "recess" }
                  5
                %td.no{ :title => "recess" }
                  6
                %td.no{ :title => "recess" }
                  7
                %td.no{ :title => "recess" }
                  8
                %td.no{ :title => "recess" }
                  9
                %td.no{ :title => "recess" }
                  10
              %tr
                %td.no{ :title => "recess" }
                  11
                %td
                  12
                %td
                  13
                %td
                  %a{ :href => "/debates/?d=2009-05-14" }
                    14
                %td.no{ :title => "recess" }
                  15
                %td.no{ :title => "recess" }
                  16
                %td.no{ :title => "recess" }
                  17
              %tr
                %td.no{ :title => "recess" }
                  18
                %td.no{ :title => "recess" }
                  19
                %td.no{ :title => "recess" }
                  20
                %td.no{ :title => "recess" }
                  21
                %td.no{ :title => "recess" }
                  22
                %td.no{ :title => "recess" }
                  23
                %td.no{ :title => "recess" }
                  24
              %tr
                %td
                  25
                %td
                  26
                %td
                  27
                %td
                  28
                %td
                  29
                %td
                  30
                %td
                  31
        / end calendar
        %p
          %a{ :href => "/debates/?y=2009" }
            See all of 2009
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-side
  .main
    %h3
      Busiest Senate debates from the most recent week
    %p
      %strong
        %a{ :href => "/senate/#d7" }
          See more debates
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/senate/#help" }
          What are Senate debates?
    / end .block
    .block
      %h4
        Recent debates
      .blockbody
        %p.error
          Couldn't find the most recent date
        %p
          There is no data, sorry.
    / end .block
  / end .sidebar
  .break
