.stripe-side
  .main
    %h2 House of Representatives and Senate debates
    %h3 House debates
    %h4 Busiest debates from the most recent week
    = render :partial => "representatives_busiest"
  / end .main
  .sidebar
    %p.nextprev
    .block
      %h4 Recent debates
      .blockbody
        = calendar(2009, 5, Date.today, @recess, [Date.new(2009,5,13), Date.new(2009,5,14)], 1)
        %p
          %a{ :href => "/debates/?y=2009" } See all of 2009
    / end .block
    = render :partial => "what_are_debates"
    .block
      %h4 RSS feed
      %p
        %a{ :href => "/debates/debates.rss" }
          %img{ :src => "/images/rss.gif", :border => "0", :align => "middle", :alt => "RSS feed" }
        %a{ :href => "/debates/debates.rss" } RSS feed of most recent debates
  / end .sidebar
  .break
