.stripe-head-1
  .main
    %h2 Senate debates
    %h3 Wednesday, 13 May 2009
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/senate/#help" }
          What are Senate debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    = add_this_javascript
    %h4
      Section 3
    %h5
      Subsection 3
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/senate/?d=2009-05-13", :title => "" }
          All Senate debates on 13 May 2009
      %span.prev
        %a{ :href => "/senate/?id=2009-05-13.1.1", :title => "Section 3" }
          \&laquo; Previous debate
  / end .sidebar
  .break
/ end .stripe-*
.stripe-time-2
  .main
    %p
      3:24 am
  / end .main
  .sidebar
    \&nbsp;
  / end .sidebar
  .break
/ end .stripe-*
.stripe-1(id="g2.1")
  .main
    %a{ :name => "g2.1" }
    %p.speaker
      %a{ :href => "/senator/?m=100001", :title => "See more information about Eric Abetz" }
        %img.portrait{ :src => "/images/mps/10003.jpg", :alt => "Photo of Eric Abetz" }
        %strong> Eric Abetz
      %small
        (Liberal Party, Deputy Leader of the Opposition in the Senate)
        = add_this("Share this", 'http://dev.openaustralia.org/senate/?gid=2009-05-13.2.1')
        \|
        %a.permalink{ :href => "/senate/?gid=2009-05-13.2.1", :title => "Copy this URL to link directly to this piece of text" } Link to this
        \|
        %a{ :href => "http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id:chamber/hansards/2009-05-13/0000", :title => "The source of this piece of text" } Hansard source
      <p>And my name is Eric Abetz. Everybody else was talking, so I felt I had to as well.</p>
  / end .main
  .sidebar
    %p.comment-teaser
      %a{ :href => "/user/prompt/?ret=%2Fsenate%2F%3Fgid%3D2009-05-13.2.1#addcomment", :title => "Comment on this" }
        %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
.stripe-foot
  .main
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/senate/?d=2009-05-13", :title => "" } All Senate debates on 13 May 2009
      %span.prev
        %a{ :href => "/senate/?id=2009-05-13.1.1", :title => "Section 3" } &laquo; Previous debate
  / end .sidebar
  .break
