.stripe-head-1
  .main
    %h2 House debates
    %h3 Thursday, 14 May 2009
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" }> What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    / ADDTHIS JAVASCRIPT BEGIN
    %script{ :type => "text/javascript" } var addthis_pub = "foo";
    %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js", :type => "text/javascript" }
    / ADDTHIS JAVASCRIPT END
    %h4 Section 1
    %h5 Subsection 1
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
/ end .stripe-*
%div(class="stripe-2" id="g2.1")
  .main
    %a{ :name => "g2.1" }
    %p.speaker
      %a{ :href => "/mp/?m=1", :title => "See more information about Tony Abbott" }
        %img.portrait{ :src => "/images/mps/10001.jpg", :alt => "Photo of Tony Abbott" }
        %strong> Tony Abbott
      %small
        (Warringah, Liberal Party, Shadow Minister for Families, Housing, Community Services and Indigenous Affairs)
        %a{ :href => "http://www.addthis.com/bookmark.php", :onmouseover => "return addthis_open(this, '', 'http://dev.openaustralia.org/debate/?id=2009-05-14.2.1', '');", :onmouseout => "addthis_close();", :onclick => "return addthis_sendto();" } Share this
        |
        %a.permalink{ :href => "/debate/?id=2009-05-14.2.1", :title => "Copy this URL to link directly to this piece of text" } Link to this
        |
        %a{ :href => "http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id:chamber/hansardr/2009-05-14/0000", :title => "The source of this piece of text" } Hansard source
      <p>Hello, <a href="http://www.liberal.org.au/" rel="nofollow">my</a> name is Tony Abbott.</p>
  / end .main
  .sidebar
    %p.comment-teaser
      %a{ :href => "/user/prompt/?ret=%2Fdebate%2F%3Fid%3D2009-05-14.2.1#addcomment", :title => "Comment on this" }
        %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
%div(class="stripe-1" id="g2.2")
  .main
    %a{ :name => "g2.2" }
    %p.speaker
      %a{ :href => "/mp/?m=3", :title => "See more information about Dick Adams" }
        %img.portrait{ :src => "/images/mps/10004.jpg", :alt => "Photo of Dick Adams" }
        %strong> Dick Adams
      %small
        (Lyons, Australian Labor Party)
        %a{ :href => "http://www.addthis.com/bookmark.php", :onmouseover => "return addthis_open(this, '', 'http://dev.openaustralia.org/debate/?id=2009-05-14.2.2', '');", :onmouseout => "addthis_close();", :onclick => "return addthis_sendto();" } Share this
        |
        %a.permalink{ :href => "/debate/?id=2009-05-14.2.2", :title => "Copy this URL to link directly to this piece of text" } Link to this
        |
        %a{ :href => "http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id:chamber/hansardr/2009-05-14/0000", :title => "The source of this piece of text" } Hansard source
      <p>And my name is Adams. Dick Adams.</p>
  / end .main
  .sidebar
    %p.comment-teaser
      %a{ :href => "/user/prompt/?ret=%2Fdebate%2F%3Fid%3D2009-05-14.2.2#addcomment", :title => "Comment on this" }
        %strong Add your comment
  / end .sidebar
  .break
/ end .stripe-*
.stripe-foot
  .main
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
    %br
    &nbsp;
  / end .main
  .sidebar
    = render :partial => "navigate"
  / end .sidebar
  .break
