.stripe-head-1
  .main
    %h2 House debates
    %h3 Thursday, 14 May 2009
  / end .main
  .sidebar
    #help.block
      %h4
        %a{ :href => "/debates/#help" } What are House debates?
    / end .block
  / end .sidebar
  .break
/ end .stripe-*
.stripe-head-2
  .main
    / ADDTHIS JAVASCRIPT BEGIN
    %script{ :type => "text/javascript" } var addthis_pub = "foo";
    %script{ :src => "http://s7.addthis.com/js/250/addthis_widget.js", :type => "text/javascript" }
    / ADDTHIS JAVASCRIPT END
    %h4 Family Assistance and Other Legislation Amendment (2008 Budget and Other Measures) Bill 2009
    %h5 Second Reading
  / end .main
  .sidebar
    %p.nextprev
      %span.up
        %a{ :href => "/debates/?id=2009-05-14.65.2", :title => "Second Reading" } See the whole debate
  / end .sidebar
  .break
/ end .stripe-*
%div(class="stripe-2" id="g66.1")
  .main
    %a{ :name => "g66.1" }
    %p.speaker
      %a{ :href => "/mp/?m=1", :title => "See more information about Tony Abbott" }
        %img.portrait{ :src => "/images/mps/10001.jpg", :alt => "Photo of Tony Abbott" }
        %strong> Tony Abbott
      %small
        (Warringah, Liberal Party, Shadow Minister for Families, Housing, Community Services and Indigenous Affairs)
        %a{ :href => "http://www.addthis.com/bookmark.php", :onmouseover => "return addthis_open(this, '', 'http://dev.openaustralia.org/debate/?id=2009-05-14.66.1', '');", :onmouseout => "addthis_close();", :onclick => "return addthis_sendto();" } Share this
        |
        %a{ :href => "http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id:chamber/hansardr/2009-05-14/0000", :title => "The source of this piece of text" } Hansard source
      = @speech_text
      %p
        %small
          %strong
            %a.permalink{ :href => "/debates/?id=2009-05-14.65.2#g66.1", :title => "See this speech within the entire debate" } See this speech in context
  / end .main
  .sidebar
  / end .sidebar
  .break
/ end .stripe-*
#comments.stripe-side
  .main
    %a{ :name => "comments" }
    %h4 Comments
    .comment
      %p No comments
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
/ end .stripe-*
#addcomment.stripe-side
  .main
    %p
      %a{ :href => "/user/login/?ret=%2Fdebate%2F%3Fid%3D2009-05-14.66.1%23addcomment" } Log in
      or
      %a{ :href => "/user/?pg=join&amp;ret=%2Fdebate%2F%3Fid%3D2009-05-14.66.1%23addcomment" } join
      to post a public comment.
  / end .main
  .sidebar
    &nbsp;
  / end .sidebar
  .break
