!!!
%html
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title
      Debates for  2009: House debates (OpenAustralia.org)
    %meta{ :name => "description", :content => "Making parliament easy." }
    %meta{ :name => "keywords", :content => "Parliament, government, House of Representatives, Senate, Senator, MP, Member of Parliament, MPs, Australia, Australian, Debates for  2009" }
    %meta{ :name => "verify-v1", :content => "5FBaCDi8kCKdo4s64NEdB5EOJDNc310SwcLLYHmEbgg=" }
    %link{ :href => "mailto:contact@openaustralia.org", :title => "Send feedback", :rel => "author" }
    %link{ :href => "http://dev.openaustralia.org/", :title => "Home", :rel => "home" }
    %link{ :href => "/", :title => "Home", :rel => "start" }
    / skin: default
    %link{ :href => "/style/default/global.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      ~ "          @import url(/style/default/global_non_ns4.css);"
    %link{ :href => "/style/default/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
  %body
    #container
      %a{ :name => "top" }
      #banner
        #title
          %h1
            %a{ :href => "/", :title => "To the front page of the site" }
              %img{ :src => "/images/openaustraliaorgbeta.gif", :height => "32", :alt => "OpenAustralia.org beta", :width => "262" }
        #search
          %form{ :action => "/search/", :method => "get" }
            %p{ :style => "padding-left: 5px" }
              %input{ :name => "s", :size => "15" }
              %input.submit{ :type => "submit", :value => "Search" }
      / end #banner
      #menu
        #topmenu
          %ul#user
            %li
              %a{ :href => "/user/login/?ret=%2Fdebates%2F", :title => "If you've already joined, log in to post comments" }
                Log in
            %li
              %a{ :href => "/user/?pg=join&amp;ret=%2Fdebates%2F", :title => "Joining is free and allows you to post comments" }
                Join
            ~ "<!--                    <li><a href=\"/getinvolved/?pg=getinvolved\" title=\"Contribute to OpenAustralia.org\">Get involved</a></li> -->"
          %br
        #bottommenu
          %ul
            %li
              %a{ :href => "/", :title => "The front page of the site" }
                Home
            %li
              %a{ :href => "/news/", :title => "News about changes to this website" }
                News
            %li
              %a.on{ :href => "/hansard/", :title => "House of Representatives and Senate debates" }
                Debates
            %li
              %a{ :href => "/comments/recent/", :title => "Recently posted comments" }
                Recent comments
            %li
              %a{ :href => "/mps/", :title => "Your Representative and list of all Members of the House of Representatives" }
                Representatives
            %li
              %a{ :href => "/senators/", :title => "List of all Senators" }
                Senators
            %li
              %a{ :href => "/help/", :title => "Answers to your questions" }
                Help
      / end #menu
      #content
        .stripe-side
          .main
            %h2
              House debates
            %h3
              Debates for  2009
            .calendar
              %table{ :border => "0" }
                %caption
                  January 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "3" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                  %tr
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                  %tr
                    %td.no{ :title => "recess" }
                      12
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                  %tr
                    %td.no{ :title => "recess" }
                      19
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                  %tr
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "1" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  February 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "6" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                  %tr
                    %td.no{ :title => "recess" }
                      2
                    %td
                      3
                    %td
                      4
                    %td
                      5
                    %td
                      6
                    %td
                      7
                    %td
                      8
                  %tr
                    %td
                      9
                    %td
                      10
                    %td
                      11
                    %td
                      12
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                  %tr
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                  %tr
                    %td
                      23
                    %td
                      24
                    %td
                      25
                    %td
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td{ :colspan => "1" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  March 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "6" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                  %tr
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                  %tr
                    %td.no{ :title => "recess" }
                      9
                    %td
                      10
                    %td
                      11
                    %td
                      12
                    %td
                      13
                    %td
                      14
                    %td
                      15
                  %tr
                    %td
                      16
                    %td
                      17
                    %td
                      18
                    %td
                      19
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                  %tr
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                  %tr
                    %td.no{ :title => "recess" }
                      30
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "5" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  April 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "2" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                  %tr
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                    %td.no{ :title => "recess" }
                      12
                  %tr
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                  %tr
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                  %tr
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td{ :colspan => "3" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  May 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "4" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                  %tr
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                  %tr
                    %td.no{ :title => "recess" }
                      11
                    %td
                      12
                    %td
                      13
                    %td
                      %a{ :href => "/debates/?d=2009-05-14" }
                        14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                  %tr
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                  %tr
                    %td
                      25
                    %td
                      26
                    %td
                      27
                    %td
                      28
                    %td
                      29
                    %td
                      30
                    %td
                      31
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  June 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td
                      1
                    %td
                      2
                    %td
                      3
                    %td
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                  %tr
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                    %td.no{ :title => "recess" }
                      12
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                  %tr
                    %td
                      15
                    %td
                      16
                    %td
                      17
                    %td
                      18
                    %td
                      19
                    %td
                      20
                    %td
                      21
                  %tr
                    %td
                      22
                    %td
                      23
                    %td
                      24
                    %td
                      25
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                  %tr
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td{ :colspan => "5" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  July 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "2" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                  %tr
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                    %td.no{ :title => "recess" }
                      12
                  %tr
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                  %tr
                    %td.no{ :title => "recess" }
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                  %tr
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "2" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  August 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "5" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                  %tr
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                  %tr
                    %td.no{ :title => "recess" }
                      10
                    %td
                      11
                    %td
                      12
                    %td
                      13
                    %td
                      14
                    %td
                      15
                    %td
                      16
                  %tr
                    %td
                      17
                    %td
                      18
                    %td
                      19
                    %td
                      20
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                  %tr
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                  %tr
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "6" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  September 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "1" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                  %tr
                    %td.on
                      7
                    %td
                      8
                    %td
                      9
                    %td
                      10
                    %td
                      11
                    %td
                      12
                    %td
                      13
                  %tr
                    %td
                      14
                    %td
                      15
                    %td
                      16
                    %td
                      17
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                    %td.no{ :title => "recess" }
                      20
                  %tr
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                  %tr
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td{ :colspan => "4" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  October 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "3" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                  %tr
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                  %tr
                    %td.no{ :title => "recess" }
                      12
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                  %tr
                    %td
                      19
                    %td
                      20
                    %td
                      21
                    %td
                      22
                    %td
                      23
                    %td
                      24
                    %td
                      25
                  %tr
                    %td
                      26
                    %td
                      27
                    %td
                      28
                    %td
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "1" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  November 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "6" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                  %tr
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                  %tr
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                    %td.no{ :title => "recess" }
                      12
                    %td.no{ :title => "recess" }
                      13
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                  %tr
                    %td
                      16
                    %td
                      17
                    %td
                      18
                    %td
                      19
                    %td
                      20
                    %td
                      21
                    %td
                      22
                  %tr
                    %td
                      23
                    %td
                      24
                    %td
                      25
                    %td
                      26
                    %td.no{ :title => "recess" }
                      27
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                  %tr
                    %td.no{ :title => "recess" }
                      30
                    %td{ :colspan => "6" }
                      \&nbsp;
            / end calendar
            .calendar
              %table{ :border => "0" }
                %caption
                  December 2009
                %thead
                  %tr
                    %th
                      Mon
                    %th
                      Tue
                    %th
                      Wed
                    %th
                      Thu
                    %th
                      Fri
                    %th
                      Sat
                    %th
                      Sun
                %tbody
                  %tr
                    %td{ :colspan => "1" }
                      \&nbsp;
                    %td.no{ :title => "recess" }
                      1
                    %td.no{ :title => "recess" }
                      2
                    %td.no{ :title => "recess" }
                      3
                    %td.no{ :title => "recess" }
                      4
                    %td.no{ :title => "recess" }
                      5
                    %td.no{ :title => "recess" }
                      6
                  %tr
                    %td.no{ :title => "recess" }
                      7
                    %td.no{ :title => "recess" }
                      8
                    %td.no{ :title => "recess" }
                      9
                    %td.no{ :title => "recess" }
                      10
                    %td.no{ :title => "recess" }
                      11
                    %td.no{ :title => "recess" }
                      12
                    %td.no{ :title => "recess" }
                      13
                  %tr
                    %td.no{ :title => "recess" }
                      14
                    %td.no{ :title => "recess" }
                      15
                    %td.no{ :title => "recess" }
                      16
                    %td.no{ :title => "recess" }
                      17
                    %td.no{ :title => "recess" }
                      18
                    %td.no{ :title => "recess" }
                      19
                    %td.no{ :title => "recess" }
                      20
                  %tr
                    %td.no{ :title => "recess" }
                      21
                    %td.no{ :title => "recess" }
                      22
                    %td.no{ :title => "recess" }
                      23
                    %td.no{ :title => "recess" }
                      24
                    %td.no{ :title => "recess" }
                      25
                    %td.no{ :title => "recess" }
                      26
                    %td.no{ :title => "recess" }
                      27
                  %tr
                    %td.no{ :title => "recess" }
                      28
                    %td.no{ :title => "recess" }
                      29
                    %td.no{ :title => "recess" }
                      30
                    %td.no{ :title => "recess" }
                      31
                    %td{ :colspan => "3" }
                      \&nbsp;
            / end calendar
          / end .main
          .sidebar
            %p.nextprev
              %span.prev
                \&laquo; Previous year
              %span.next
                Next year &raquo;
            #help.block
              %h4
                What are Debates?
              .blockbody
                %p
                  <strong>Debates</strong> in the House of Representatives are an opportunity for members from
                  all parties to <strong>scrutinise</strong> government legislation and
                  <strong>raise important local, national or topical issues</strong>.
                %p And sometimes to shout at each other.
                %p
                  ~ '<!--For more about debates, click <a href="/help/#debates">here</a>.-->'
            / end .block
          / end .sidebar
          .break
        / end .stripe-*
        #footer
          %p
            %a{ :href => "/about/" }
              About us
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/contact/" }
              Contact OpenAustralia.org
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/help/linktous/" }
              Link to us
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/houserules/" }
              House rules
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/api/" }
              API
            \/
            %a{ :href => "http://data.openaustralia.org" }
              XML
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "http://software.openaustralia.org" }
              Source code
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "http://blog.openaustralia.org" }
              Blog
      / end #content
    / end #container
