.stripe-side
  .main
    %h2
      House debates
    %h3
      Debates for  2009
    .calendar
      %table{ :border => "0" }
        %caption
          January 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "3" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
          %tr
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
          %tr
            %td.no{ :title => "recess" }
              12
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
          %tr
            %td.no{ :title => "recess" }
              19
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
          %tr
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "1" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          February 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "6" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
          %tr
            %td.no{ :title => "recess" }
              2
            %td
              3
            %td
              4
            %td
              5
            %td
              6
            %td
              7
            %td
              8
          %tr
            %td
              9
            %td
              10
            %td
              11
            %td
              12
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
          %tr
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
          %tr
            %td
              23
            %td
              24
            %td
              25
            %td
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td{ :colspan => "1" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          March 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "6" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
          %tr
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
          %tr
            %td.no{ :title => "recess" }
              9
            %td
              10
            %td
              11
            %td
              12
            %td
              13
            %td
              14
            %td
              15
          %tr
            %td
              16
            %td
              17
            %td
              18
            %td
              19
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
          %tr
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
          %tr
            %td.no{ :title => "recess" }
              30
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "5" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          April 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "2" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
          %tr
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
            %td.no{ :title => "recess" }
              12
          %tr
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
          %tr
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
          %tr
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td{ :colspan => "3" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          May 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "4" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
          %tr
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
          %tr
            %td.no{ :title => "recess" }
              11
            %td
              12
            %td
              13
            %td
              %a{ :href => "/debates/?d=2009-05-14" }
                14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
          %tr
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
          %tr
            %td
              25
            %td
              26
            %td
              27
            %td
              28
            %td
              29
            %td
              30
            %td
              31
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          June 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td
              1
            %td
              2
            %td
              3
            %td
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
          %tr
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
            %td.no{ :title => "recess" }
              12
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
          %tr
            %td
              15
            %td
              16
            %td
              17
            %td
              18
            %td
              19
            %td
              20
            %td
              21
          %tr
            %td
              22
            %td
              23
            %td
              24
            %td
              25
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
          %tr
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td{ :colspan => "5" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          July 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "2" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
          %tr
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
            %td.no{ :title => "recess" }
              12
          %tr
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
          %tr
            %td.no{ :title => "recess" }
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
          %tr
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "2" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          August 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "5" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
          %tr
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
          %tr
            %td.no{ :title => "recess" }
              10
            %td
              11
            %td
              12
            %td
              13
            %td
              14
            %td
              15
            %td
              16
          %tr
            %td
              17
            %td
              18
            %td
              19
            %td
              20
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
          %tr
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
          %tr
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "6" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          September 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "1" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
          %tr
            %td.on
              7
            %td
              8
            %td
              9
            %td
              10
            %td
              11
            %td
              12
            %td
              13
          %tr
            %td
              14
            %td
              15
            %td
              16
            %td
              17
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
            %td.no{ :title => "recess" }
              20
          %tr
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
          %tr
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td{ :colspan => "4" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          October 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "3" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
          %tr
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
          %tr
            %td.no{ :title => "recess" }
              12
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
          %tr
            %td
              19
            %td
              20
            %td
              21
            %td
              22
            %td
              23
            %td
              24
            %td
              25
          %tr
            %td
              26
            %td
              27
            %td
              28
            %td
              29
            %td.no{ :title => "recess" }
              30
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "1" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          November 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "6" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
          %tr
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
          %tr
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
            %td.no{ :title => "recess" }
              12
            %td.no{ :title => "recess" }
              13
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
          %tr
            %td
              16
            %td
              17
            %td
              18
            %td
              19
            %td
              20
            %td
              21
            %td
              22
          %tr
            %td
              23
            %td
              24
            %td
              25
            %td
              26
            %td.no{ :title => "recess" }
              27
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
          %tr
            %td.no{ :title => "recess" }
              30
            %td{ :colspan => "6" }
              \&nbsp;
    / end calendar
    .calendar
      %table{ :border => "0" }
        %caption
          December 2009
        %thead
          %tr
            %th
              Mon
            %th
              Tue
            %th
              Wed
            %th
              Thu
            %th
              Fri
            %th
              Sat
            %th
              Sun
        %tbody
          %tr
            %td{ :colspan => "1" }
              \&nbsp;
            %td.no{ :title => "recess" }
              1
            %td.no{ :title => "recess" }
              2
            %td.no{ :title => "recess" }
              3
            %td.no{ :title => "recess" }
              4
            %td.no{ :title => "recess" }
              5
            %td.no{ :title => "recess" }
              6
          %tr
            %td.no{ :title => "recess" }
              7
            %td.no{ :title => "recess" }
              8
            %td.no{ :title => "recess" }
              9
            %td.no{ :title => "recess" }
              10
            %td.no{ :title => "recess" }
              11
            %td.no{ :title => "recess" }
              12
            %td.no{ :title => "recess" }
              13
          %tr
            %td.no{ :title => "recess" }
              14
            %td.no{ :title => "recess" }
              15
            %td.no{ :title => "recess" }
              16
            %td.no{ :title => "recess" }
              17
            %td.no{ :title => "recess" }
              18
            %td.no{ :title => "recess" }
              19
            %td.no{ :title => "recess" }
              20
          %tr
            %td.no{ :title => "recess" }
              21
            %td.no{ :title => "recess" }
              22
            %td.no{ :title => "recess" }
              23
            %td.no{ :title => "recess" }
              24
            %td.no{ :title => "recess" }
              25
            %td.no{ :title => "recess" }
              26
            %td.no{ :title => "recess" }
              27
          %tr
            %td.no{ :title => "recess" }
              28
            %td.no{ :title => "recess" }
              29
            %td.no{ :title => "recess" }
              30
            %td.no{ :title => "recess" }
              31
            %td{ :colspan => "3" }
              \&nbsp;
    / end calendar
  / end .main
  .sidebar
    %p.nextprev
      %span.prev
        \&laquo; Previous year
      %span.next
        Next year &raquo;
    #help.block
      %h4
        What are Debates?
      .blockbody
        %p
          <strong>Debates</strong> in the House of Representatives are an opportunity for members from
          all parties to <strong>scrutinise</strong> government legislation and
          <strong>raise important local, national or topical issues</strong>.
        %p And sometimes to shout at each other.
        %p
          ~ '<!--For more about debates, click <a href="/help/#debates">here</a>.-->'
    / end .block
  / end .sidebar
  .break
