.block
  %h4= link_to "This data as a spreadsheet", :f => "csv", :trailing_slash => true
  %p
    = link_to "Download a CSV", :f => "csv", :trailing_slash => true
    (Comma Separated Values) file that you can load into your favourite spreadsheet program or data-mashing software.
/ end .block
