!!!
%html
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title
      Representatives (OpenAustralia.org)
    %meta{ :name => "description", :content => "Making parliament easy." }
    %meta{ :name => "keywords", :content => "Parliament, government, House of Representatives, Senate, Senator, MP, Member of Parliament, MPs, Australia, Australian, Representatives" }
    %meta{ :name => "verify-v1", :content => "5FBaCDi8kCKdo4s64NEdB5EOJDNc310SwcLLYHmEbgg=" }
    %link{ :href => "mailto:contact@openaustralia.org", :title => "Send feedback", :rel => "author" }
    %link{ :href => "http://dev.openaustralia.org/", :title => "Home", :rel => "home" }
    %link{ :href => "/", :title => "Home", :rel => "start" }
    / skin: default
    %link{ :href => "/style/default/global.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      %a{ :name => "top" }
      #banner
        #title
          %h1
            %a{ :href => "/", :title => "To the front page of the site" }
              %img{ :src => "/images/openaustraliaorgbeta.gif", :height => "32", :alt => "OpenAustralia.org beta", :width => "262" }
        #search
          %form{ :action => "/search/", :method => "get" }
            %p{ :style => "padding-left: 5px" }
              %input{ :name => "s", :size => "15" }
              %input.submit{ :type => "submit", :value => "Search" }
      / end #banner
      #menu
        #topmenu
          %ul#user
            %li
              %a{ :href => "/user/login/?ret=%2Fmps%2F", :title => "If you've already joined, log in to post comments" }
                Log in
            %li
              %a{ :href => "/user/?pg=join&amp;ret=%2Fmps%2F", :title => "Joining is free and allows you to post comments" }
                Join
            / <li><a href="/getinvolved/?pg=getinvolved" title="Contribute to OpenAustralia.org">Get involved</a></li>
          %br
        #bottommenu
          %ul
            %li
              %a{ :href => "/", :title => "The front page of the site" }
                Home
            %li
              %a{ :href => "/news/", :title => "News about changes to this website" }
                News
            %li
              %a{ :href => "/hansard/", :title => "House of Representatives and Senate debates" }
                Debates
            %li
              %a{ :href => "/comments/recent/", :title => "Recently posted comments" }
                Recent comments
            %li
              %a.on{ :href => "/mps/", :title => "Your Representative and list of all Members of the House of Representatives" }
                Representatives
            %li
              %a{ :href => "/senators/", :title => "List of all Senators" }
                Senators
            %li
              %a{ :href => "/help/", :title => "Answers to your questions" }
                Help
      / end #menu
      #content
        .stripe-side
          .main
            %h2
              Representatives
            %h3
              \&nbsp;
            %p
              Find out who
              %a{ :href => "/mp/" }
                your Representative
              is. All you need is a postcode.
            %h3
              All members of the House of Representatives
            %table.people{ :cellspacing => "0", :border => "0", :cellpadding => "4", :width => "90%" }
              %thead
                %th
                  Photo
                %th
                  %a{ :href => "/mps/?o=f" }
                    First
                  \&amp; last name
                %th
                  %a{ :href => "/mps/?o=p" }
                    Party
                %th
                  %a{ :href => "/mps/?o=c" }
                    Constituency
                %th
                  Positions
              %tbody
                %tr
                  %td.row
                    %img.portrait{ :src => "/images/mps/10001.jpg", :alt => "" }
                  %td.row-1
                    %a{ :href => "/mp/tony_abbott/warringah" }
                      Tony Abbott
                  %td.row-1
                    Liberal Party
                  %td.row-1
                    Warringah
                  %td.row-1
                    \&nbsp;
                %tr
                  %td.row
                    %img.portrait{ :src => "/images/mps/10004.jpg", :alt => "" }
                  %td.row-2
                    %a{ :href => "/mp/dick_adams/lyons" }
                      Dick Adams
                  %td.row-2
                    Australian Labor Party
                  %td.row-2
                    Lyons
                  %td.row-2
                    \&nbsp;
          / end .main
          .sidebar
            .block
              %h4
                %a{ :href => "/mps/?f=csv" }
                  This data as a spreadsheet
              %p
                %a{ :href => "/mps/?f=csv" }
                  Download a CSV
                (Comma Separated Values) file that you can load into your favourite spreadsheet program or data-mashing software.
            / end .block
            #help.block
              %h4
                Did you know this site is run by a group of volunteers?
              .blockbody
                %p{ :style => "padding-bottom: 30px" }
                  %a{ :href => "http://blog.openaustralia.org/join-us/" }
                    %img{ :src => "/images/donate_greenL.png", :vspace => "5", :border => "0", :height => "43", :hspace => "4", :alt => "Donate", :align => "right", :width => "108" }
                  Your donation would enable
                  us to continue to add new features.
            / end .block
          / end .sidebar
          .break
        / end .stripe-*
        #footer
          %p
            %a{ :href => "/about/" }
              About us
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/contact/" }
              Contact OpenAustralia.org
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/help/linktous/" }
              Link to us
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/houserules/" }
              House rules
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "/api/" }
              API
            \/
            %a{ :href => "http://data.openaustralia.org" }
              XML
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "http://software.openaustralia.org" }
              Source code
            \&nbsp;&nbsp;&nbsp;
            %a{ :href => "http://blog.openaustralia.org" }
              Blog
      / end #content
    / end #container
